@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --light: #0f66e9;
  --dark: #003366;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(180deg, var(--light) 50%, #fff 50%);
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.grid {
  background-color: #fff;
  display: grid;
  width: 80%;
  height: 80vh;
  margin: 5% auto;
  -webkit-box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.75);
  grid-template-columns: repeat(20, 1fr);
}

nav {
    grid-column: 1 / 2;
    background-color: var(--dark);
    color: #fff;
}

.nav-items {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.nav-item {
    display: inline-block;
    width: 80%;
    height: 3rem;
    line-height: 3rem;
}
