/* project fonts & colors*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --light: #0f66e9;
  --dark: #003366;
}

/* app-wide changes and grid set up */

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(180deg, var(--light) 50%, #fff 50%);
  background-repeat: no-repeat;
  overflow-y: hidden;
  text-align: center;
  font-size: 0.8rem;
}

.grid {
  background-color: #fff;
  display: grid;
  width: 80%;
  height: 100%;
  margin: 4% auto;
  -webkit-box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 20px 0px rgba(0, 0, 0, 0.75);
  grid-template-columns: repeat(20, 1fr);
}

/* nav */

nav {
    grid-column: 1 / 2;
    background-color: var(--dark);
    color: #fff;
    height: 100%;
    display: flex;
}

.nav-items {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6rem;
}

.nav-item {
    display: inline-block;
    width: 80%;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

/* main content */

.main-content {
    grid-column: 2 / 15;
    height: 100%;
}

.table-container {
    height: 80%;
    overflow-y: auto;
    margin-top: 3%;
}

.stock-table {
    display: block;
    width: 100%;
    height: 100%;
}


.stock td, th {
    padding: 0.55rem;
}


.delete-column {
    width: 5%;
}

.remove {
    visibility: hidden;
}

.details {
    color: black;
}

.form-container {
    height: 15%;
    margin-top: 5%;
}

.add {
    align-content: space-between;
}

.add input {
    width: 35%;
}


/* media queries */

@media screen and (max-width: 800px) {
    body {
        overflow-y: initial;
    }

    /* change grid to be all rows */
}